/* .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.header {
  height: 100vh;
  background-color: aquamarine;
}
/* .pepino {
  background-color: blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
